@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&display=swap');
body {
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: black;
    color: white;
}
header {
    text-align: center;
    color: #090052;
    font-size: 48px;
    font-weight: bolder;
}
footer {
    text-align: center;
}

.navbarhorizontal {
    background-color: #281A9C;
    text-align: center;
    padding: 10px;
}

.listnavhorizontal {
    display: inline;
    margin: 20px;
    font-size: 25px;
}

.listnavhorizontal a {
    text-decoration: none;
    color: white;
}

.listnavhorizontal a:hover {
    text-decoration: none;
    color: blue;
}

.listnavhorizontal a.active {
    text-decoration: none;
    color: rgb(75, 75, 255);
}

h1 {
    color: darkslateblue;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.textmainsec {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.textdkj {
    text-align: center;
    font-size: 20px;
}